{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
        <div class="container">

            <p>Feel free to steal the code of this website from the Github <u><a
                        href="https://github.com/sabirbagwan/Python_Django_Profile_Blog_Website" target="_blank" >link</a></u>.</p>
            <p>© Sabir Bagwan {% now 'Y' %}</p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->